In [29]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib
%matplotlib inline
from sklearn.metrics import classification_report,confusion_matrix

In [30]:
import warnings
warnings.filterwarnings('ignore')

In [31]:
df = pd.read_csv('Final_Dataset.csv')
df.head()

,CLAIM_NUMBER,LINE_NUMBER,MEMBER_NUMBER,CURRENTAGE,SUFFIX,PATIENTNAME,GENDER,CURRENTAGE_1,CLAIMED,PAID,...,REFERRAL,PCKAGE,TARIFF_AMOUNT,PAY_WHO,MODIFIER_STRING,FIRMNO,SHORTFALLREASON,PROVIDERTYPE,AGE,Class
0,31184,1,30400166634,39.921212,2,TASHINGA,F,39.921212,450.0,258.0,...,10782.0,304,258.0,M,NaN,CMS004KAO,101,18,ABOVE 22,proceed
1,56041,1,30400171454,36.948093,1,EMILY,F,36.948093,70.0,17.5,...,1244.0,304,25.0,M,NaN,CMS004MUR,101,18,ABOVE 22,proceed
2,86876,1,30001814165,38.128201,1,FADZAI,F,38.128201,25.0,17.5,...,5058.0,300,25.0,M,NaN,CMS001TNQ,101,18,ABOVE 22,proceed
3,117280,1,40000064456,60.203470,2,BHAVNA,F,60.203470,300.0,135.0,...,18192.0,400,135.0,V,NaN,CMS001SHC,101;535,18,ABOVE 22,proceed
4,117281,1,40000064456,60.203470,2,BHAVNA,F,60.203470,200.0,200.0,...,18192.0,400,250.0,V,NaN,CMS001SHC,101,18,ABOVE 22,proceed

In [32]:
df1 = df.drop(columns = ['LINE_NUMBER','SUFFIX','PATIENTNAME','CURRENTAGE_1','SHORTFALL', 'DATE_RECEIVED', 'PROCESS_DATE','PAYDATE','SERVICEDATE','DESCRIPTION_1','QUANTITY','REFERRAL','PCKAGE','PAY_WHO','MODIFIER_STRING','FIRMNO','SHORTFALLREASON','AGE'], axis = 1)

In [33]:
train_dataset = df1.drop(columns = ['SPE_SPECIALITY_CODE','PRACTICE_NAME','CLAIM_NUMBER','PROVIDERTYPE','TARIFF_AMOUNT','PAID'], axis = 1)

In [34]:
train_dataset = train_dataset.sample(frac=1).reset_index(drop=True)

In [35]:
train_dataset = train_dataset.replace({'GENDER':{'F':1,'M':0}})

In [36]:
train_dataset = train_dataset.replace({'Class':{'possible fraud ':0,'possible fraud':0, 'proceed':1}})

In [37]:
train_dataset

,MEMBER_NUMBER,CURRENTAGE,GENDER,CLAIMED,PRACTICE_NUMBER,DESCRIPTION,TARIFF_CODE,Class
0,30001896042,30.302932,1,40.0,18309,GYNAECOLOGY/OBSTETRICS,59489,1
1,30001824817,27.872825,1,60.0,189412,GYNAECOLOGY/OBSTETRICS,59475,1
2,30600000655,34.716911,1,40.0,18117,GYNAECOLOGY/OBSTETRICS,59489,1
3,30001854118,8.286803,0,80.0,12203,PAEDIATRICIANS,90000,1
4,40000098861,4.956158,0,100.0,12580,PAEDIATRICIANS,90000,0
...,...,...,...,...,...,...,...,...
45849,30000563668,27.259921,1,80.0,18023,GYNAECOLOGY/OBSTETRICS,59475,1
45850,30000283120,3.267986,0,150.0,12100,PAEDIATRICIANS,36405,1
45851,20000956144,36.848631,1,25.0,185799,GYNAECOLOGY/OBSTETRICS,59477,1
45852,30001727410,29.345943,1,40.0,18686,GYNAECOLOGY/OBSTETRICS,59489,1
45853,30099998717,51.759921,1,60.0,181963,GYNAECOLOGY/OBSTETRICS,58101,1

In [38]:
train_dataset = train_dataset.replace({'DESCRIPTION':{'GYNAECOLOGY/OBSTETRICS':1,'PAEDIATRICIANS':0}})

In [39]:
train_dataset = train_dataset.append({"MEMBER_NUMBER":4450,"CURRENTAGE":0,"GENDER":1,"CLAIMED":0,"PRACTICE_NUMBER":1,"DESCRIPTION":1,"TARIFF_CODE":765796,"Class":0},ignore_index=True)

train_dataset = train_dataset.append({"MEMBER_NUMBER":4353,"CURRENTAGE":1,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":3000,"DESCRIPTION":1,"TARIFF_CODE":88679,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":2,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":87667,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":45340,"CURRENTAGE":3,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":4000,"DESCRIPTION":1,"TARIFF_CODE":43466,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":4,"GENDER":1,"CLAIMED":10,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":676576,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":4534,"CURRENTAGE":5,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":78768,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":567,"CURRENTAGE":6,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":50000,"DESCRIPTION":1,"TARIFF_CODE":9788,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":7,"GENDER":1,"CLAIMED":4000,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":57887,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":4576,"CURRENTAGE":8,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":67676,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":234,"CURRENTAGE":9,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":98765,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":567,"CURRENTAGE":10,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":645545,"DESCRIPTION":1,"TARIFF_CODE":9545,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":11,"GENDER":1,"CLAIMED":500,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":9865,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":897,"CURRENTAGE":12,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":5678,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":13,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":67689,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3563,"CURRENTAGE":14,"GENDER":1,"CLAIMED":1000,"PRACTICE_NUMBER":43,"DESCRIPTION":1,"TARIFF_CODE":87876,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":24645,"CURRENTAGE":15,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":57676,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":56756,"CURRENTAGE":16,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":346,"DESCRIPTION":1,"TARIFF_CODE":74678,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3753,"CURRENTAGE":17,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":67687,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":68578,"CURRENTAGE":0,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":597500,"DESCRIPTION":1,"TARIFF_CODE":5789,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":47646,"CURRENTAGE":1,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":43345,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":5476, "CURRENTAGE":2,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":4345646,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":4752,"CURRENTAGE":3,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":876,"DESCRIPTION":1,"TARIFF_CODE":45466,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":2524,"CURRENTAGE":4,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":1000,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":2546,"CURRENTAGE":5,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":46766,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":8463,"CURRENTAGE":6,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":86566,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":5765,"CURRENTAGE":7,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":0,"DESCRIPTION":1,"TARIFF_CODE":456876,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":874,"CURRENTAGE":8,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":4356445,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3567,"CURRENTAGE":9,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":34566,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":45057,"CURRENTAGE":10,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":100,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":678,"CURRENTAGE":11,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":433456,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":854,"CURRENTAGE":12,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":45766,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":4563,"CURRENTAGE":13,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":100,"DESCRIPTION":1,"TARIFF_CODE":45866,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":0,"CURRENTAGE":14,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":43866,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":15,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":43467,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":5756,"CURRENTAGE":16,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":65437,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":987,"CURRENTAGE":17,"GENDER":1,"CLAIMED":344443,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":0,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":8234,"CURRENTAGE":0,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":5000,"DESCRIPTION":1,"TARIFF_CODE":457654,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":49503,"CURRENTAGE":1,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":547654,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":34590,"CURRENTAGE":2,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":54676,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3943,"CURRENTAGE":3,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":543766,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":4,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":666666,"DESCRIPTION":1,"TARIFF_CODE":536753,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3490,"CURRENTAGE":5,"GENDER":1,"CLAIMED":344345,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":753554,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3450,"CURRENTAGE":6,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":345978,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3745,"CURRENTAGE":7,"GENDER":1,"CLAIMED":56566,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":345545,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3450,"CURRENTAGE":8,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":345576,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":9,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":345567,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":345,"CURRENTAGE":10,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":34546,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3453,"CURRENTAGE":11,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":3455,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":435,"CURRENTAGE":12,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":6553,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":345,"CURRENTAGE":13,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":64775,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":768,"CURRENTAGE":14,"GENDER":1,"CLAIMED":5656,"PRACTICE_NUMBER":576579,"DESCRIPTION":1,"TARIFF_CODE":34534,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":456,"CURRENTAGE":15,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":56756,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":765,"CURRENTAGE":16,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":65765,"Class":0},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":8697,"CURRENTAGE":17,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":467687,"DESCRIPTION":1,"TARIFF_CODE":46546,"Class":0},ignore_index=True)



train_dataset = train_dataset.append({"MEMBER_NUMBER":874,"CURRENTAGE":18,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59300,"DESCRIPTION":1,"TARIFF_CODE":4357445,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3567,"CURRENTAGE":19,"GENDER":1,"CLAIMED":186023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":34566,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":45057,"CURRENTAGE":20,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":100,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":678,"CURRENTAGE":21,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":593400,"DESCRIPTION":1,"TARIFF_CODE":433456,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":854,"CURRENTAGE":22,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":45766,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":4563,"CURRENTAGE":23,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":100,"DESCRIPTION":1,"TARIFF_CODE":45866,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":0,"CURRENTAGE":24,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":4386,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":25,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":43467,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":5756,"CURRENTAGE":26,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":65437,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":987,"CURRENTAGE":27,"GENDER":1,"CLAIMED":344443,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":0,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":8234,"CURRENTAGE":20,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":5000,"DESCRIPTION":1,"TARIFF_CODE":457654,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":49503,"CURRENTAGE":21,"GENDER":1,"CLAIMED":1023,"PRACTICE_NUMBER":534500,"DESCRIPTION":1,"TARIFF_CODE":547654,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":34590,"CURRENTAGE":22,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":54676,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3943,"CURRENTAGE":23,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":543766,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":24,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":66366,"DESCRIPTION":1,"TARIFF_CODE":536753,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3490,"CURRENTAGE":25,"GENDER":1,"CLAIMED":344345,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":753554,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3450,"CURRENTAGE":26,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":345978,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3745,"CURRENTAGE":27,"GENDER":1,"CLAIMED":56566,"PRACTICE_NUMBER":56500,"DESCRIPTION":1,"TARIFF_CODE":345545,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3450,"CURRENTAGE":28,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":345576,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":450,"CURRENTAGE":29,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":38567,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":345,"CURRENTAGE":30,"GENDER":1,"CLAIMED":1803,"PRACTICE_NUMBER":59540,"DESCRIPTION":1,"TARIFF_CODE":34546,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":3453,"CURRENTAGE":21,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":34355,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":435,"CURRENTAGE":22,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":6553,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":345,"CURRENTAGE":23,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":64775,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":768,"CURRENTAGE":24,"GENDER":1,"CLAIMED":5656,"PRACTICE_NUMBER":5763479,"DESCRIPTION":1,"TARIFF_CODE":34534,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":456,"CURRENTAGE":25,"GENDER":1,"CLAIMED":18723,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":56356,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":765,"CURRENTAGE":26,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":59500,"DESCRIPTION":1,"TARIFF_CODE":65765,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":8697,"CURRENTAGE":18,"GENDER":1,"CLAIMED":18023,"PRACTICE_NUMBER":467687,"DESCRIPTION":1,"TARIFF_CODE":46546,"Class":1},ignore_index=True)
train_dataset = train_dataset.append({"MEMBER_NUMBER":8697,"CURRENTAGE":19,"GENDER":1,"CLAIMED":1023,"PRACTICE_NUMBER":467687,"DESCRIPTION":1,"TARIFF_CODE":46546,"Class":1},ignore_index=True)

In [40]:
train_dataset.tail()

,MEMBER_NUMBER,CURRENTAGE,GENDER,CLAIMED,PRACTICE_NUMBER,DESCRIPTION,TARIFF_CODE,Class
45932,768,24.0,1,5656.0,5763479,1,34534,1
45933,456,25.0,1,18723.0,59500,1,56356,1
45934,765,26.0,1,18023.0,59500,1,65765,1
45935,8697,18.0,1,18023.0,467687,1,46546,1
45936,8697,19.0,1,1023.0,467687,1,46546,1

In [41]:
train_dataset

,MEMBER_NUMBER,CURRENTAGE,GENDER,CLAIMED,PRACTICE_NUMBER,DESCRIPTION,TARIFF_CODE,Class
0,30001896042,30.302932,1,40.0,18309,1,59489,1
1,30001824817,27.872825,1,60.0,189412,1,59475,1
2,30600000655,34.716911,1,40.0,18117,1,59489,1
3,30001854118,8.286803,0,80.0,12203,0,90000,1
4,40000098861,4.956158,0,100.0,12580,0,90000,0
...,...,...,...,...,...,...,...,...
45932,768,24.000000,1,5656.0,5763479,1,34534,1
45933,456,25.000000,1,18723.0,59500,1,56356,1
45934,765,26.000000,1,18023.0,59500,1,65765,1
45935,8697,18.000000,1,18023.0,467687,1,46546,1
45936,8697,19.000000,1,1023.0,467687,1,46546,1

In [42]:
x = train_dataset.drop(columns = ['Class', 'MEMBER_NUMBER'], axis = 1)
y = train_dataset['Class']

In [43]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state=42)

In [44]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(class_weight='balanced')
model.fit(x_train,y_train)

LogisticRegression(class_weight='balanced')

In [45]:
model.predict([[450,0,70,18023,1,59500]])

array([1], dtype=int64)

In [46]:
model.predict([[30,1,30,188851,1,59477]])

array([1], dtype=int64)

In [47]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [48]:
x_train_smote, y_train_smote = smote.fit_resample(x_train.astype('float'),y_train)

In [49]:
model.fit(x_train_smote, y_train_smote)

LogisticRegression(class_weight='balanced')

In [50]:
model.predict([[0,0,30,1023,0,590]])

array([0], dtype=int64)

In [51]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
svm_clf = svm.SVC()
Naive_Bayes = GaussianNB()
knn = KNeighborsClassifier(n_neighbors=4)
model1 = RandomForestClassifier()
model2 = ExtraTreesClassifier()

In [52]:
model.fit(x_train_smote,y_train_smote)
model1.fit(x_train_smote,y_train_smote)
model2.fit(x_train_smote,y_train_smote)
svm_clf.fit(x_train_smote,y_train_smote)
Naive_Bayes.fit(x_train_smote,y_train_smote)
knn.fit(x_train_smote,y_train_smote)

KNeighborsClassifier(n_neighbors=4)

In [53]:
x_train_smote

,CURRENTAGE,GENDER,CLAIMED,PRACTICE_NUMBER,DESCRIPTION,TARIFF_CODE
0,41.233040,1.000000,40.0,18023.0,1.0,59489.000000
1,8.023362,0.000000,80.0,12440.0,0.0,90050.000000
2,30.827126,1.000000,80.0,18192.0,1.0,59477.000000
3,32.128201,1.000000,70.0,12440.0,0.0,90003.000000
4,37.362072,1.000000,80.0,18023.0,1.0,59475.000000
...,...,...,...,...,...,...
65577,33.780784,0.417438,80.0,12046.0,0.0,90003.000000
65578,53.222645,1.000000,100.0,18015.0,1.0,90030.475168
65579,38.392159,1.000000,80.0,181552.0,1.0,90032.000000
65580,36.462557,1.000000,100.0,12440.0,0.0,90002.000000
65581,42.874962,1.000000,80.0,12046.0,0.0,90003.000000

In [54]:
model1.predict([[15,1,20,180181,1,123455]])

array([1], dtype=int64)

In [55]:
import joblib
 
# Save the model as a pickle in a file
joblib.dump(model, 'logistics.pkl')
joblib.dump(model1, 'randForest.pkl')
joblib.dump(model2, 'extraTrees.pkl')
joblib.dump(svm_clf, 'svm.pkl')
joblib.dump(knn, 'knn.pkl')
joblib.dump(Naive_Bayes, 'gauss.pkl')


 
# Load the model from the file
#knn_from_joblib = joblib.load('filename.pkl')
 
# Use the loaded model to make predictions
#knn_from_joblib.predict(X_test)

['gauss.pkl']

In [56]:
knn_from_joblib = joblib.load('svm.pkl')
knn_from_joblib.predict([[40,0,70,18023,1,59500]])

array([1], dtype=int64)